@import '../../styles/mixins';
@import '~antd/dist/antd.css';


.operation{
  width: 100%;
  text-align: center;
  margin-left: -26px;
  .abandoning{
    float: left;
    color: rgb(24, 144, 255);
    margin-left: "-4px";
    cursor: pointer;
  }
  .edit{
    margin-left: 31px;
  }
}
.operation::after{
  content: '';
  display: "block";
  clear: both;
}
.establish{
  position: absolute;
  top: 125px;
  right: 46px;
}
.account_pagination{
  margin-top: 20px;
  text-align: right;
}
