@import '../../styles/mixins';
@import '~antd/dist/antd.css';

.monitor-layout {
  text-align: left;
}
h2 {
  color: #fff;
  margin-left: 5%;
  float: left;
}

.mine {
  margin-top: 102px;
  display: block;
  padding: 5px;
  float: right;
  color: #fff;
  text-decoration: none;
  color: white;
}

.grow {
  flex: 1;
  color: #fff;
  margin-top: 20px;
}
.menuButton {
  margin-top: 20px;
  margin-left: -12;
  margin-right: 20;
}
.header_right_container {
  position: absolute;
  line-height: 60px;
  width: 300px;
  right: 50px;
  display: flex;
  justify-content: space-between;
}
.header_right_item {
  cursor: pointer;
}
.header_right_item:hover {
  color: #cccccc;
}
.monitor-page-container {
  text-align: center;
}
