@import '../../styles/mixins';

.monitor-side-panel {
  text-align: center;
  background-color: #ffffff;
}
.logo {
  height: 200px;
  // background-image: url(../../images/logo_200x206.jpg);
  background-repeat: no-repeat;
}
